@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@400;500&display=swap');

*, html, body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  width: 100vw;
}
